* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: lightGray;
  font-family: Stencil Std, fantasy;
  max-height:100vh; 
}
.brand {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #0b52ff;
  border: 2px solid rgb(255, 255, 255);
  width: 70%;
  height:80px;
  margin:15px auto 20px auto;
  padding:5px 15px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.brand img.logo {
  height:105px;
  margin-right:15px;
  filter: drop-shadow(0 0 0.15rem black);
  user-select:none;
}
.brand .wrapper .p1, .brand .wrapper .p2 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px #000000;
  user-select:none;
}
.brand .wrapper .p1 {
  font-size: 45px;
  text-align:center;
}
.brand .wrapper .p2 {
  font-size: 15px;
  margin-bottom:5px;
}
.mycanvas {
  border:5px solid #0b52ff;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#container {
  position: relative;
  height: 400px;
  width: 70%;
  border: 2px solid rgb(255, 255, 255);
  background-color: aliceblue;
  margin-left: auto;
  margin-right:auto;
  overflow: hidden;
}
#bird {
  position: absolute;
  background: url('img/ilc.svg');
  height: 42px;
  width: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 20%;
  left: 15%;
}
.pole {
  position: absolute;
  height: 130px;
  width: 50px;
  background-color: #0b52ff;
  right: -50px;
}
#pole_1 {
  top: 0;
}
#pole_2 {
  bottom: 0;
}
#score_div {
  text-align: center;
  font-size: 40px;
  margin-top:10px;
}
#score_div #ilc {
  color:#0b52ff;
  margin-left:10px;
}
#score_div #score, #score_div #speed {
  color:#0b52ff;
}
#restart_btn {
  position: absolute;
  top: 0;
  width: 100%;
  height:100%;
  background-color: #0b52ff;
  color: white;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#restart_btn1, #submit_score {
  font-size: 35px;
  font-weight: 800;
  padding:5px 20px;
  cursor: pointer;
  border-radius: 7px;
  outline:0;
  border:0;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
}
#submit_score {
  margin-top:10px;
}

@media screen and (max-width:700px) {
  #container {
    width:90%;
  }
  .brand {
    width:90%;
  }
  #score_div {
    font-size: 30px;
  }
}

@media screen and (max-width:480px) {
  .brand .wrapper .p1 {
    font-size: 36px;
  }
  .brand .wrapper .p2 {
    font-size: 12px;
  }
  #restart_btn1, #submit_score {
    font-size: 20px;
  }
}
@media screen and (max-width:427px) {
  .brand .wrapper .p1 {
    font-size: 26px;
  }
  .brand .wrapper .p2 {
    display:none;
  }
  #score_div {
    font-size: 20px;
  }
  
}

@media screen and (max-height:569px) {
  #score_div {
    margin-top:0;
  }
  
}