@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Press Start 2P', Stencil Std, sans-serif, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
:root {
  --hole:80px;
}
body {
  background-color: lightGray;
  max-height:100vh; 
}
.brand {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #0b52ff;
  border: 2px solid rgb(255, 255, 255);
  width: 70%;
  height:80px;
  margin:15px auto 20px auto;
  padding:5px 15px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.brand img.logo {
  height:105px;
  margin-right:15px;
  filter: drop-shadow(0 0 0.15rem black);
  user-select:none;
}
.brand .wrapper .p1, .brand .wrapper .p2 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px #000000;
  user-select:none;
  
}
.brand .wrapper .p1 {
  font-size: 30px;
  text-align:center;
  margin-bottom:5px;
}
.brand .wrapper .p2 {
  font-size: 10px;
}
.brand .wrapper .p2 span {
  font-size: 16px;
}

#container.crash {
  border-color:rgba(255, 0, 0, 0.5);
  animation: blink 0.5s;
  animation-iteration-count: 6;
}
#pole_1.poleCrash, #pole_2.poleCrash {
  background-color:rgba(255, 0, 0, 0.5);
  animation: poleblink 0.5s;
  animation-iteration-count: 6;
}
@keyframes blink { 50% { border-color:rgba(255, 0, 0, 0.9) ; }  }
@keyframes poleblink { 50% { background-color:rgba(255, 0, 0, 0.9) ; }  }

#container {
  position: relative;
  height: calc(100vh - 125px);
  width: 70%;
  border: 4px solid #0b52ff;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  margin-left: auto;
  margin-right:auto;
  overflow: hidden;
}
#container #backdrop {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:inherit;
  background-color: rgb(11, 80, 255);
  z-index: 20000;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
#container #backdrop #play {
  padding:10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color:#0b52ff;
  outline:0;
  border:0;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
  user-select: none;
  background-color: lightgrey;
  width:70%;
  height:60px;
  transition:transform 0.3s ease;
  text-shadow: 2px 1px #000000;
}

#container #backdrop #play:hover {
  background-color: #fff;
}
#container #backdrop #intro {
  filter: drop-shadow(0 0 0.15rem black);
  width: 100%;
  text-align: center;
}
#container #backdrop #intro img {
  margin-top:10px;
}
#container #backdrop #intro h2 {
  color:#fff;
  text-shadow: 2px 1px #000000;
  margin-top:10px;
  margin-bottom:10px;
}
#container #backdrop #information {
  background-color: lightgrey;
  color:rgba(0, 0, 0, 0.8);
  border-radius: 7px;
  width:70%;
  padding:10px;
  line-height: 1.25;
  text-align: justify;
  margin-top: 10px;
  margin-bottom:10px;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
}
#container #backdrop #information h2 {
  font-size: 14px;
}
#container #backdrop #information ul {
  margin-top:15px;
}
#container #backdrop #information ul li {
  margin-left:10px;
  font-size: 12px;
  text-align:left;
}
#container #backdrop #information ul li:not(:nth-of-type(5)) {
  margin-bottom:2px;
}
#container #backdrop #information ul li span{
  margin-left:10px;
  font-size: 8px;
}
#container #backdrop #information ul li .emoji{
  margin-left:10px;
  font-size: 15px;
}


#container #gameover  {
  width:50%;
  height:90px;
  background-color: rgba(255, 0, 0, 0.5);
  animation: gameover 1s;
  animation-iteration-count: 3;
  color:white;
  border-radius: 10px;
  padding:5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  display:none;
  z-index:10000;
}
@keyframes gameover { 50% { background-color:rgba(255, 0, 0, 0.9) ; }  }

#container #gameover h2 {
  text-align:center;
  margin-bottom:5px;
}
#container #gameover p {
  text-align:center; 
}
#container #gameover p .score1{
  margin-top:5px;
  display:inline-block;
}
#bird {
  position: absolute;
  background: url('img/ilc.svg');
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 10%;
  left: 10%;
  bottom:90%;
  z-index: 9997;
}
.grand {
  background: #1b2735; 
  background: -webkit-linear-gradient(to right, #0c0f15, #f5f5f5, #0c0f15); 
  background: linear-gradient(to right, #0c0f15, #f5f5f5, #0c0f15);
  width:100%;
  height:100px;
  position: absolute;
  bottom:0;
  left:0;
  z-index:9997;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-left:10px;
  padding-right:10px;
}
.grand #flap {
  cursor:pointer;
  width:60px;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color:rgb(255, 255, 255);
  font-size:20px;
  outline:0;
  border:0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius:50%;
  transition:transform 0.3s ease;
}
.grand #flap:active {
  transform:scale(0.88);
}
.grand #flap:hover {
  background-color: rgba(11, 80, 255, 0.507);
}
.grand .rightside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left:10px;
  margin-right:10px;
}
.grand .rightside #sound {
  cursor:pointer;
  width:30px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  color:#0b52ff;
  font-size:18px;
  outline:0;
  border:0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius:50%;
  transition:transform 0.3s ease;
}
.grand .rightside #sound:active {
  transform:scale(0.88);
}
.grand .rightside #sound:hover {
  background-color: #fff;
}
.grand .rightside #score_div {
  align-self:flex-start;
  justify-self: flex-end;
  font-size: 12px;
  color:#efeff0;
  text-shadow: 2px 1px #000000;
}
.grand .rightside #score_div p:not(:nth-of-type(2)) {
  margin-bottom:10px;
}

.pole {
  position: absolute;
  height: calc((var(--vh, 1vh) * 100) / 2 - var(--hole)*2);
  width: 50px;
  background-color: #0b52ff;
  right: -50px;
  z-index: 9996;
}
#pole_1 {
  top: 0;
}
#pole_2 {
  bottom: 0;
}
#restart_btn {
  position: absolute;
  top: 0;
  width: 100%;
  height:inherit;
  background-color: #0b52ff;
  color: white;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
#restart_btn img {
  margin-bottom:10px;
  filter: drop-shadow(0 0 0.15rem black);
  user-select:none;
}
#restart_btn h2 {
  margin-bottom:40px;
  text-shadow: 2px 1px #000000;
  user-select:none;
  filter: drop-shadow(0 0 0.15rem black);
  text-align: center;
  line-height:1.5;
}
#restart_btn1, #submit_score {
  width:90%;
  font-size: 22px;
  font-weight: 800;
  padding:15px 20px;
  cursor: pointer;
  border-radius: 7px;
  outline:0;
  border:0;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
  background-color: lightgrey;
  color:#0b52ff;
  transition:transform 0.3s ease;
}
#submit_score {
  margin-top:22px;
  color:#ff790b;
  font-size: 14px;
}
#submit_score .bluetext {
  font-size: 14px;
  color:#0b52ff;
}
#restart_btn1:active, #submit_score:active {
  transform:scale(0.88);
}
#restart_btn1:hover, #submit_score:hover {
  background-color: #fff;
}



#scorePopUp {
  width:100%;
  height:inherit;
  background-color: #a9b7c5;
  margin-left:auto;
  margin-right:auto;
  z-index: 100000000000;
  position: absolute;
  top: 0;
  display:none;
}
#scorePopUp form {
  padding:10px 10px;
  text-align: center;

  
}
#scorePopUp form .wrapper {
  width:90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}
#scorePopUp form .wrapper:nth-of-type(3) {
  margin-bottom:20px;
}
#scorePopUp form small {
  text-align: left;
  margin-bottom: 10px;
  display: block;
  font-size: 9px;
  color: crimson;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#scorePopUp form .wrapper label {
 padding: 0 5px;
 color:white;
 cursor: pointer;
 user-select:none;
 font-size: 12px;
 margin-right:10px;
 background-color: rgb(11, 82, 255);
 height:40px;
 line-height: 40px;
 text-align: center;
}
#scorePopUp form .wrapper label + input {
  height:40px;
  width:90%;
  padding-left:15px;
  padding-right:15px;
  font-size: 12px;
  outline:0;
  border:0;
  flex:1;
}
#scorePopUp form .wrapper label + input:focus {
  outline:0;
  box-shadow: 0 0 4px 2px rgba(11, 82, 255, 1);
}
#scorePopUp form .wrapper + #submitscore, 
#scorePopUp form .wrapper + #submitscore + #backbtn {
  height:50px;
  width:90%;
  font-size: 18px;
  cursor: pointer;
  border-radius: 7px;
  outline:0;
  border:0;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
  background-color: lightgrey;
  color:#0b52ff;
  margin-bottom: 10px;

}
#scorePopUp form .wrapper + #submitscore:active,
#scorePopUp form .wrapper + #submitscore + #backbtn:active {
  transform:scale(0.88);
}
#scorePopUp form .wrapper + #submitscore:hover,
#scorePopUp form .wrapper + #submitscore + #backbtn:hover {
  background-color: #fff;
}




#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 832px 1371px #FFF , 4px 367px #FFF , 1666px 1145px #FFF , 1685px 185px #FFF , 1666px 160px #FFF , 1699px 1528px #FFF , 1628px 763px #FFF , 440px 961px #FFF , 1143px 1761px #FFF , 1809px 154px #FFF , 199px 874px #FFF , 1126px 1850px #FFF , 518px 809px #FFF , 139px 1577px #FFF , 1745px 718px #FFF , 668px 557px #FFF , 903px 1294px #FFF , 338px 1957px #FFF , 228px 823px #FFF , 810px 1100px #FFF , 723px 252px #FFF , 964px 372px #FFF , 233px 929px #FFF , 1720px 1874px #FFF , 1278px 754px #FFF , 154px 521px #FFF , 317px 583px #FFF , 1801px 182px #FFF , 336px 1766px #FFF , 1456px 1521px #FFF , 1247px 832px #FFF , 446px 1137px #FFF , 473px 920px #FFF , 758px 840px #FFF , 668px 132px #FFF , 872px 1252px #FFF , 550px 1261px #FFF , 116px 357px #FFF , 270px 1661px #FFF , 68px 1916px #FFF , 1013px 1387px #FFF , 945px 43px #FFF , 1070px 1379px #FFF , 1988px 318px #FFF , 100px 738px #FFF , 1430px 1534px #FFF , 914px 169px #FFF , 324px 1175px #FFF , 1488px 331px #FFF , 1284px 1781px #FFF , 46px 510px #FFF , 930px 284px #FFF , 162px 1786px #FFF , 870px 818px #FFF , 1293px 554px #FFF , 154px 1354px #FFF , 991px 1200px #FFF , 1378px 1415px #FFF , 79px 1016px #FFF , 53px 49px #FFF , 87px 1244px #FFF , 513px 1305px #FFF , 132px 785px #FFF , 1689px 852px #FFF , 436px 1542px #FFF , 1134px 1383px #FFF , 961px 1802px #FFF , 1591px 745px #FFF , 1670px 847px #FFF , 1753px 1820px #FFF , 1167px 1896px #FFF , 1801px 1383px #FFF , 934px 707px #FFF , 691px 1239px #FFF , 96px 201px #FFF , 1828px 764px #FFF , 1300px 169px #FFF , 1582px 769px #FFF , 72px 1720px #FFF , 1317px 185px #FFF , 1699px 262px #FFF , 441px 1202px #FFF , 650px 1106px #FFF , 5px 652px #FFF , 517px 1333px #FFF , 703px 528px #FFF , 160px 767px #FFF , 967px 779px #FFF , 1132px 533px #FFF , 1383px 26px #FFF , 779px 1699px #FFF , 609px 626px #FFF , 1683px 500px #FFF , 1666px 1763px #FFF , 552px 1596px #FFF , 1663px 111px #FFF , 1765px 650px #FFF , 1815px 1337px #FFF , 1422px 1272px #FFF , 1137px 333px #FFF , 1959px 1995px #FFF , 330px 1400px #FFF , 81px 665px #FFF , 65px 1668px #FFF , 1547px 1961px #FFF , 1353px 556px #FFF , 714px 982px #FFF , 64px 1913px #FFF , 107px 1904px #FFF , 1505px 1637px #FFF , 175px 1924px #FFF , 1324px 1457px #FFF , 1654px 237px #FFF , 630px 587px #FFF , 1708px 297px #FFF , 1755px 665px #FFF , 830px 1413px #FFF , 913px 1567px #FFF , 562px 1436px #FFF , 305px 1936px #FFF , 608px 4px #FFF , 1220px 1794px #FFF , 1097px 894px #FFF , 1847px 220px #FFF , 1625px 1957px #FFF , 1027px 1066px #FFF , 1450px 836px #FFF , 1180px 122px #FFF , 89px 23px #FFF , 1927px 1989px #FFF , 1894px 956px #FFF , 1660px 1554px #FFF , 139px 965px #FFF , 9px 1471px #FFF , 273px 1098px #FFF , 404px 9px #FFF , 1470px 378px #FFF , 827px 1841px #FFF , 1594px 1741px #FFF , 816px 1937px #FFF , 1736px 1125px #FFF , 807px 330px #FFF , 1969px 1684px #FFF , 427px 633px #FFF , 926px 31px #FFF , 813px 1608px #FFF , 867px 873px #FFF , 386px 1263px #FFF , 995px 1924px #FFF , 754px 1829px #FFF , 1684px 1735px #FFF , 1340px 666px #FFF , 884px 1478px #FFF , 1095px 1499px #FFF , 1573px 373px #FFF , 1557px 1030px #FFF , 241px 1970px #FFF , 1417px 1316px #FFF , 1820px 151px #FFF , 633px 1817px #FFF , 1000px 1857px #FFF , 394px 1011px #FFF , 615px 619px #FFF , 1193px 1434px #FFF , 1908px 798px #FFF , 1656px 1142px #FFF , 1822px 1074px #FFF , 1582px 1012px #FFF , 172px 785px #FFF , 1278px 1059px #FFF , 1506px 1736px #FFF , 1702px 526px #FFF , 943px 416px #FFF , 489px 1813px #FFF , 961px 209px #FFF , 1170px 1701px #FFF , 1060px 243px #FFF , 961px 1680px #FFF , 568px 430px #FFF , 978px 54px #FFF , 1405px 1148px #FFF , 1734px 657px #FFF , 1914px 307px #FFF , 1861px 984px #FFF , 467px 487px #FFF , 1387px 1795px #FFF , 10px 1074px #FFF , 782px 135px #FFF , 138px 1138px #FFF , 492px 756px #FFF , 1768px 956px #FFF , 596px 1232px #FFF , 1540px 1530px #FFF , 89px 1603px #FFF , 361px 1875px #FFF , 1935px 929px #FFF , 81px 478px #FFF , 82px 946px #FFF , 1183px 660px #FFF , 1862px 280px #FFF , 1350px 1351px #FFF , 821px 1792px #FFF , 715px 290px #FFF , 1285px 1985px #FFF , 1740px 369px #FFF , 795px 368px #FFF , 1898px 1853px #FFF , 904px 1653px #FFF , 1106px 519px #FFF , 1242px 1674px #FFF , 782px 742px #FFF , 1310px 450px #FFF , 1052px 1248px #FFF , 1207px 1019px #FFF , 487px 232px #FFF , 1189px 1482px #FFF , 200px 1686px #FFF , 55px 924px #FFF , 1520px 1721px #FFF , 691px 654px #FFF , 676px 1130px #FFF , 1904px 1846px #FFF , 1604px 511px #FFF , 1104px 601px #FFF , 1063px 1477px #FFF , 132px 435px #FFF , 1863px 375px #FFF , 1859px 806px #FFF , 1975px 586px #FFF , 577px 1280px #FFF , 157px 752px #FFF , 1517px 1465px #FFF , 370px 902px #FFF , 819px 1608px #FFF , 1366px 421px #FFF , 1317px 1774px #FFF , 1116px 1024px #FFF , 1388px 627px #FFF , 1046px 1269px #FFF , 1681px 1768px #FFF , 1071px 977px #FFF , 592px 1964px #FFF , 1616px 1843px #FFF , 1094px 1560px #FFF , 1131px 1288px #FFF , 1045px 949px #FFF , 1381px 1729px #FFF , 806px 732px #FFF , 145px 1870px #FFF , 874px 1118px #FFF , 918px 351px #FFF , 1172px 1997px #FFF , 712px 999px #FFF , 616px 295px #FFF , 347px 1527px #FFF , 25px 743px #FFF , 235px 1432px #FFF , 446px 28px #FFF , 1445px 598px #FFF , 1579px 793px #FFF , 1878px 1939px #FFF , 1889px 1446px #FFF , 1854px 1650px #FFF , 617px 663px #FFF , 1063px 802px #FFF , 1668px 1927px #FFF , 660px 235px #FFF , 1201px 1140px #FFF , 1486px 851px #FFF , 554px 1753px #FFF , 1063px 74px #FFF , 885px 197px #FFF , 753px 784px #FFF , 1825px 1021px #FFF , 1434px 1595px #FFF , 817px 58px #FFF , 1941px 773px #FFF , 237px 461px #FFF , 1445px 1278px #FFF , 427px 1836px #FFF , 1146px 1021px #FFF , 1643px 652px #FFF , 54px 910px #FFF , 1926px 532px #FFF , 1962px 1597px #FFF , 1872px 348px #FFF , 1930px 1510px #FFF , 189px 1881px #FFF , 19px 841px #FFF , 989px 1373px #FFF , 1239px 365px #FFF , 951px 1743px #FFF , 348px 730px #FFF , 1743px 832px #FFF , 1421px 551px #FFF , 1237px 1719px #FFF , 1903px 1467px #FFF , 927px 397px #FFF , 416px 1599px #FFF , 470px 1850px #FFF , 170px 1371px #FFF , 224px 533px #FFF , 110px 930px #FFF , 477px 1150px #FFF , 210px 293px #FFF , 1640px 1385px #FFF , 871px 908px #FFF , 464px 1717px #FFF , 238px 182px #FFF , 1264px 931px #FFF , 1684px 1929px #FFF , 1058px 197px #FFF , 1242px 834px #FFF , 1294px 1902px #FFF , 1078px 1166px #FFF , 760px 1701px #FFF , 1659px 1683px #FFF , 1792px 1712px #FFF , 750px 88px #FFF , 611px 1870px #FFF , 1468px 644px #FFF , 1243px 1899px #FFF , 422px 946px #FFF , 164px 1177px #FFF , 152px 1448px #FFF , 367px 947px #FFF , 368px 332px #FFF , 802px 114px #FFF , 1990px 684px #FFF , 435px 1429px #FFF , 58px 156px #FFF , 1059px 1503px #FFF , 1174px 1288px #FFF , 1531px 1256px #FFF , 1159px 640px #FFF , 1075px 320px #FFF , 1031px 1110px #FFF , 1568px 1571px #FFF , 1589px 135px #FFF , 1907px 741px #FFF , 55px 1667px #FFF , 1181px 678px #FFF , 1902px 414px #FFF , 1398px 404px #FFF , 1233px 115px #FFF , 320px 1433px #FFF , 1401px 555px #FFF , 1973px 1845px #FFF , 1804px 490px #FFF , 52px 1445px #FFF , 450px 849px #FFF , 1276px 948px #FFF , 1507px 1871px #FFF , 1674px 1319px #FFF , 1391px 285px #FFF , 1717px 859px #FFF , 1818px 862px #FFF , 288px 264px #FFF , 120px 1340px #FFF , 574px 1578px #FFF , 363px 794px #FFF , 1171px 1721px #FFF , 1153px 1032px #FFF , 154px 1288px #FFF , 1893px 265px #FFF , 926px 326px #FFF , 1111px 97px #FFF , 246px 1699px #FFF , 147px 1793px #FFF , 767px 760px #FFF , 437px 193px #FFF , 1011px 996px #FFF , 1646px 677px #FFF , 1550px 1585px #FFF , 107px 1889px #FFF , 906px 1845px #FFF , 311px 435px #FFF , 233px 582px #FFF , 1406px 179px #FFF , 163px 237px #FFF , 1346px 1533px #FFF , 1995px 1181px #FFF , 195px 1303px #FFF , 752px 1480px #FFF , 1960px 406px #FFF , 1459px 313px #FFF , 34px 143px #FFF , 1663px 1158px #FFF , 1791px 124px #FFF , 570px 1110px #FFF , 1606px 552px #FFF , 1033px 772px #FFF , 716px 958px #FFF , 442px 246px #FFF , 17px 651px #FFF , 1683px 1871px #FFF , 1515px 1046px #FFF , 1165px 250px #FFF , 175px 1778px #FFF , 1186px 846px #FFF , 760px 466px #FFF , 1835px 1676px #FFF , 117px 1703px #FFF , 168px 960px #FFF , 141px 887px #FFF , 976px 1036px #FFF , 1166px 1372px #FFF , 812px 305px #FFF , 1264px 518px #FFF , 827px 1644px #FFF , 1830px 280px #FFF , 1467px 892px #FFF , 826px 1137px #FFF , 1271px 667px #FFF , 1529px 231px #FFF , 896px 413px #FFF , 1023px 1263px #FFF , 1727px 855px #FFF , 1598px 1554px #FFF , 1539px 1400px #FFF , 1087px 1670px #FFF , 177px 482px #FFF , 740px 1907px #FFF , 249px 436px #FFF , 1424px 1674px #FFF , 302px 1252px #FFF , 1895px 539px #FFF , 1793px 1295px #FFF , 1405px 912px #FFF , 152px 1166px #FFF , 1105px 83px #FFF , 1021px 1838px #FFF , 1431px 802px #FFF , 1313px 922px #FFF , 14px 1382px #FFF , 985px 504px #FFF , 634px 839px #FFF , 1385px 483px #FFF , 1334px 1316px #FFF , 575px 122px #FFF , 1347px 523px #FFF , 591px 1414px #FFF , 787px 1393px #FFF , 105px 1316px #FFF , 175px 1383px #FFF , 202px 365px #FFF , 298px 1175px #FFF , 277px 1856px #FFF , 1858px 752px #FFF , 598px 378px #FFF , 1438px 1484px #FFF , 1409px 1921px #FFF , 840px 1709px #FFF , 1887px 1206px #FFF , 1040px 702px #FFF , 1978px 1273px #FFF , 406px 1485px #FFF , 1602px 1167px #FFF , 1068px 1943px #FFF , 1889px 891px #FFF , 705px 1246px #FFF , 1227px 980px #FFF , 1165px 831px #FFF , 702px 987px #FFF , 1850px 1404px #FFF , 1906px 931px #FFF , 1405px 1332px #FFF , 640px 513px #FFF , 294px 1544px #FFF , 1231px 1835px #FFF , 1933px 1730px #FFF , 1123px 1685px #FFF , 732px 888px #FFF , 1204px 845px #FFF , 313px 553px #FFF , 696px 223px #FFF , 1168px 502px #FFF , 431px 1909px #FFF , 452px 577px #FFF , 295px 1334px #FFF , 239px 1836px #FFF , 1411px 1518px #FFF , 511px 1911px #FFF , 414px 84px #FFF , 517px 54px #FFF , 1531px 1172px #FFF , 586px 524px #FFF , 1980px 783px #FFF , 89px 1174px #FFF , 1555px 380px #FFF , 700px 1188px #FFF , 721px 761px #FFF , 1175px 1038px #FFF , 581px 448px #FFF , 1530px 765px #FFF , 1391px 1916px #FFF , 1366px 1834px #FFF , 105px 372px #FFF , 1163px 852px #FFF , 1931px 754px #FFF , 1245px 713px #FFF , 450px 1961px #FFF , 772px 1037px #FFF , 1042px 805px #FFF , 823px 1376px #FFF , 1138px 1633px #FFF , 260px 1421px #FFF , 1727px 1627px #FFF , 602px 1369px #FFF , 1057px 1899px #FFF , 89px 689px #FFF , 979px 186px #FFF , 1129px 1357px #FFF , 253px 172px #FFF , 1578px 1337px #FFF , 554px 544px #FFF , 1968px 1567px #FFF , 1020px 1788px #FFF , 930px 1985px #FFF , 1010px 1965px #FFF , 1521px 63px #FFF , 869px 1370px #FFF , 1190px 1680px #FFF , 311px 887px #FFF , 1932px 1629px #FFF , 1512px 136px #FFF , 1357px 682px #FFF , 140px 1415px #FFF , 64px 1052px #FFF , 257px 1816px #FFF , 105px 781px #FFF , 134px 1618px #FFF , 1779px 1172px #FFF , 1501px 1816px #FFF , 1812px 127px #FFF , 1469px 669px #FFF , 119px 95px #FFF , 816px 172px #FFF , 1469px 1009px #FFF , 1993px 57px #FFF , 682px 1275px #FFF , 1079px 1743px #FFF , 1912px 1469px #FFF , 1475px 1664px #FFF , 1094px 153px #FFF , 1610px 307px #FFF , 1682px 1379px #FFF , 1764px 445px #FFF , 1127px 1044px #FFF , 211px 259px #FFF , 1052px 1803px #FFF , 1545px 986px #FFF , 1289px 431px #FFF , 1279px 1962px #FFF , 106px 1765px #FFF , 239px 1699px #FFF , 854px 631px #FFF , 122px 321px #FFF , 935px 10px #FFF , 1541px 185px #FFF , 1414px 721px #FFF , 1696px 884px #FFF , 800px 666px #FFF , 1818px 1040px #FFF , 1139px 554px #FFF , 1876px 750px #FFF , 545px 482px #FFF , 1539px 1294px #FFF , 1557px 1849px #FFF , 1433px 374px #FFF , 170px 393px #FFF , 1165px 1528px #FFF , 1110px 46px #FFF , 1672px 1568px #FFF , 418px 575px #FFF , 454px 1287px #FFF , 1352px 1379px #FFF , 468px 229px #FFF , 463px 1706px #FFF , 240px 279px #FFF , 2px 115px #FFF , 929px 1461px #FFF , 1274px 1083px #FFF , 413px 1768px #FFF , 1084px 1553px #FFF , 74px 243px #FFF , 1219px 501px #FFF , 773px 587px #FFF , 1534px 1416px #FFF , 1386px 1591px #FFF , 1601px 887px #FFF , 1035px 1285px #FFF , 1914px 1154px #FFF , 1524px 731px #FFF , 1457px 1029px #FFF , 558px 597px #FFF , 676px 1473px #FFF , 653px 1923px #FFF , 596px 1011px #FFF , 7px 1507px #FFF , 1967px 1961px #FFF , 1250px 819px #FFF , 399px 711px #FFF , 1002px 1137px #FFF , 895px 1841px #FFF , 1485px 1215px #FFF , 1611px 1270px #FFF , 1440px 746px #FFF , 142px 1966px #FFF , 335px 114px #FFF , 1267px 881px #FFF , 911px 1191px #FFF , 1563px 1649px #FFF , 1916px 229px #FFF , 1824px 998px #FFF , 1377px 1385px #FFF , 584px 657px #FFF , 755px 549px #FFF , 1866px 1899px #FFF , 1700px 266px #FFF , 1913px 196px #FFF , 871px 136px #FFF , 800px 1890px #FFF , 1795px 1422px #FFF , 974px 117px #FFF , 171px 146px #FFF , 310px 1205px #FFF , 1575px 326px #FFF , 954px 992px #FFF , 437px 1260px #FFF , 1347px 651px #FFF , 63px 716px #FFF , 688px 505px #FFF , 1099px 1854px #FFF , 1863px 445px #FFF , 712px 24px #FFF , 1057px 50px #FFF , 1333px 880px #FFF , 503px 1192px #FFF , 113px 717px #FFF , 1170px 1322px #FFF , 1500px 1463px #FFF , 1666px 816px #FFF , 485px 789px #FFF , 1530px 514px #FFF , 538px 1898px #FFF , 1199px 1023px #FFF , 672px 533px #FFF , 1595px 808px #FFF , 1477px 1778px #FFF , 732px 1963px #FFF , 491px 849px #FFF , 115px 842px #FFF , 1299px 767px #FFF , 361px 1118px #FFF , 875px 1594px #FFF , 1116px 455px #FFF , 1397px 653px #FFF , 18px 1614px #FFF , 855px 238px #FFF , 1052px 301px #FFF , 1222px 1810px #FFF , 467px 92px #FFF , 661px 130px #FFF , 1443px 491px #FFF , 1736px 689px #FFF , 70px 396px #FFF , 1348px 106px #FFF , 1663px 1394px #FFF , 122px 1000px #FFF , 1277px 850px #FFF , 409px 1158px #FFF , 1178px 381px #FFF , 589px 1000px #FFF , 829px 1136px #FFF , 43px 1786px #FFF , 1639px 1912px #FFF , 1025px 1457px #FFF , 9px 1619px #FFF , 1244px 1443px #FFF , 492px 1701px #FFF , 924px 61px #FFF , 538px 1048px #FFF , 1036px 1968px #FFF , 1538px 1593px #FFF , 438px 1246px #FFF , 23px 1481px #FFF , 665px 1555px #FFF , 1593px 1258px #FFF , 342px 1876px #FFF , 279px 160px #FFF , 1630px 1904px #FFF , 1859px 1258px #FFF , 1905px 965px #FFF , 1821px 297px #FFF , 1551px 1673px #FFF , 775px 1829px #FFF , 1687px 1578px #FFF , 585px 270px #FFF , 1127px 677px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 832px 1371px #FFF , 4px 367px #FFF , 1666px 1145px #FFF , 1685px 185px #FFF , 1666px 160px #FFF , 1699px 1528px #FFF , 1628px 763px #FFF , 440px 961px #FFF , 1143px 1761px #FFF , 1809px 154px #FFF , 199px 874px #FFF , 1126px 1850px #FFF , 518px 809px #FFF , 139px 1577px #FFF , 1745px 718px #FFF , 668px 557px #FFF , 903px 1294px #FFF , 338px 1957px #FFF , 228px 823px #FFF , 810px 1100px #FFF , 723px 252px #FFF , 964px 372px #FFF , 233px 929px #FFF , 1720px 1874px #FFF , 1278px 754px #FFF , 154px 521px #FFF , 317px 583px #FFF , 1801px 182px #FFF , 336px 1766px #FFF , 1456px 1521px #FFF , 1247px 832px #FFF , 446px 1137px #FFF , 473px 920px #FFF , 758px 840px #FFF , 668px 132px #FFF , 872px 1252px #FFF , 550px 1261px #FFF , 116px 357px #FFF , 270px 1661px #FFF , 68px 1916px #FFF , 1013px 1387px #FFF , 945px 43px #FFF , 1070px 1379px #FFF , 1988px 318px #FFF , 100px 738px #FFF , 1430px 1534px #FFF , 914px 169px #FFF , 324px 1175px #FFF , 1488px 331px #FFF , 1284px 1781px #FFF , 46px 510px #FFF , 930px 284px #FFF , 162px 1786px #FFF , 870px 818px #FFF , 1293px 554px #FFF , 154px 1354px #FFF , 991px 1200px #FFF , 1378px 1415px #FFF , 79px 1016px #FFF , 53px 49px #FFF , 87px 1244px #FFF , 513px 1305px #FFF , 132px 785px #FFF , 1689px 852px #FFF , 436px 1542px #FFF , 1134px 1383px #FFF , 961px 1802px #FFF , 1591px 745px #FFF , 1670px 847px #FFF , 1753px 1820px #FFF , 1167px 1896px #FFF , 1801px 1383px #FFF , 934px 707px #FFF , 691px 1239px #FFF , 96px 201px #FFF , 1828px 764px #FFF , 1300px 169px #FFF , 1582px 769px #FFF , 72px 1720px #FFF , 1317px 185px #FFF , 1699px 262px #FFF , 441px 1202px #FFF , 650px 1106px #FFF , 5px 652px #FFF , 517px 1333px #FFF , 703px 528px #FFF , 160px 767px #FFF , 967px 779px #FFF , 1132px 533px #FFF , 1383px 26px #FFF , 779px 1699px #FFF , 609px 626px #FFF , 1683px 500px #FFF , 1666px 1763px #FFF , 552px 1596px #FFF , 1663px 111px #FFF , 1765px 650px #FFF , 1815px 1337px #FFF , 1422px 1272px #FFF , 1137px 333px #FFF , 1959px 1995px #FFF , 330px 1400px #FFF , 81px 665px #FFF , 65px 1668px #FFF , 1547px 1961px #FFF , 1353px 556px #FFF , 714px 982px #FFF , 64px 1913px #FFF , 107px 1904px #FFF , 1505px 1637px #FFF , 175px 1924px #FFF , 1324px 1457px #FFF , 1654px 237px #FFF , 630px 587px #FFF , 1708px 297px #FFF , 1755px 665px #FFF , 830px 1413px #FFF , 913px 1567px #FFF , 562px 1436px #FFF , 305px 1936px #FFF , 608px 4px #FFF , 1220px 1794px #FFF , 1097px 894px #FFF , 1847px 220px #FFF , 1625px 1957px #FFF , 1027px 1066px #FFF , 1450px 836px #FFF , 1180px 122px #FFF , 89px 23px #FFF , 1927px 1989px #FFF , 1894px 956px #FFF , 1660px 1554px #FFF , 139px 965px #FFF , 9px 1471px #FFF , 273px 1098px #FFF , 404px 9px #FFF , 1470px 378px #FFF , 827px 1841px #FFF , 1594px 1741px #FFF , 816px 1937px #FFF , 1736px 1125px #FFF , 807px 330px #FFF , 1969px 1684px #FFF , 427px 633px #FFF , 926px 31px #FFF , 813px 1608px #FFF , 867px 873px #FFF , 386px 1263px #FFF , 995px 1924px #FFF , 754px 1829px #FFF , 1684px 1735px #FFF , 1340px 666px #FFF , 884px 1478px #FFF , 1095px 1499px #FFF , 1573px 373px #FFF , 1557px 1030px #FFF , 241px 1970px #FFF , 1417px 1316px #FFF , 1820px 151px #FFF , 633px 1817px #FFF , 1000px 1857px #FFF , 394px 1011px #FFF , 615px 619px #FFF , 1193px 1434px #FFF , 1908px 798px #FFF , 1656px 1142px #FFF , 1822px 1074px #FFF , 1582px 1012px #FFF , 172px 785px #FFF , 1278px 1059px #FFF , 1506px 1736px #FFF , 1702px 526px #FFF , 943px 416px #FFF , 489px 1813px #FFF , 961px 209px #FFF , 1170px 1701px #FFF , 1060px 243px #FFF , 961px 1680px #FFF , 568px 430px #FFF , 978px 54px #FFF , 1405px 1148px #FFF , 1734px 657px #FFF , 1914px 307px #FFF , 1861px 984px #FFF , 467px 487px #FFF , 1387px 1795px #FFF , 10px 1074px #FFF , 782px 135px #FFF , 138px 1138px #FFF , 492px 756px #FFF , 1768px 956px #FFF , 596px 1232px #FFF , 1540px 1530px #FFF , 89px 1603px #FFF , 361px 1875px #FFF , 1935px 929px #FFF , 81px 478px #FFF , 82px 946px #FFF , 1183px 660px #FFF , 1862px 280px #FFF , 1350px 1351px #FFF , 821px 1792px #FFF , 715px 290px #FFF , 1285px 1985px #FFF , 1740px 369px #FFF , 795px 368px #FFF , 1898px 1853px #FFF , 904px 1653px #FFF , 1106px 519px #FFF , 1242px 1674px #FFF , 782px 742px #FFF , 1310px 450px #FFF , 1052px 1248px #FFF , 1207px 1019px #FFF , 487px 232px #FFF , 1189px 1482px #FFF , 200px 1686px #FFF , 55px 924px #FFF , 1520px 1721px #FFF , 691px 654px #FFF , 676px 1130px #FFF , 1904px 1846px #FFF , 1604px 511px #FFF , 1104px 601px #FFF , 1063px 1477px #FFF , 132px 435px #FFF , 1863px 375px #FFF , 1859px 806px #FFF , 1975px 586px #FFF , 577px 1280px #FFF , 157px 752px #FFF , 1517px 1465px #FFF , 370px 902px #FFF , 819px 1608px #FFF , 1366px 421px #FFF , 1317px 1774px #FFF , 1116px 1024px #FFF , 1388px 627px #FFF , 1046px 1269px #FFF , 1681px 1768px #FFF , 1071px 977px #FFF , 592px 1964px #FFF , 1616px 1843px #FFF , 1094px 1560px #FFF , 1131px 1288px #FFF , 1045px 949px #FFF , 1381px 1729px #FFF , 806px 732px #FFF , 145px 1870px #FFF , 874px 1118px #FFF , 918px 351px #FFF , 1172px 1997px #FFF , 712px 999px #FFF , 616px 295px #FFF , 347px 1527px #FFF , 25px 743px #FFF , 235px 1432px #FFF , 446px 28px #FFF , 1445px 598px #FFF , 1579px 793px #FFF , 1878px 1939px #FFF , 1889px 1446px #FFF , 1854px 1650px #FFF , 617px 663px #FFF , 1063px 802px #FFF , 1668px 1927px #FFF , 660px 235px #FFF , 1201px 1140px #FFF , 1486px 851px #FFF , 554px 1753px #FFF , 1063px 74px #FFF , 885px 197px #FFF , 753px 784px #FFF , 1825px 1021px #FFF , 1434px 1595px #FFF , 817px 58px #FFF , 1941px 773px #FFF , 237px 461px #FFF , 1445px 1278px #FFF , 427px 1836px #FFF , 1146px 1021px #FFF , 1643px 652px #FFF , 54px 910px #FFF , 1926px 532px #FFF , 1962px 1597px #FFF , 1872px 348px #FFF , 1930px 1510px #FFF , 189px 1881px #FFF , 19px 841px #FFF , 989px 1373px #FFF , 1239px 365px #FFF , 951px 1743px #FFF , 348px 730px #FFF , 1743px 832px #FFF , 1421px 551px #FFF , 1237px 1719px #FFF , 1903px 1467px #FFF , 927px 397px #FFF , 416px 1599px #FFF , 470px 1850px #FFF , 170px 1371px #FFF , 224px 533px #FFF , 110px 930px #FFF , 477px 1150px #FFF , 210px 293px #FFF , 1640px 1385px #FFF , 871px 908px #FFF , 464px 1717px #FFF , 238px 182px #FFF , 1264px 931px #FFF , 1684px 1929px #FFF , 1058px 197px #FFF , 1242px 834px #FFF , 1294px 1902px #FFF , 1078px 1166px #FFF , 760px 1701px #FFF , 1659px 1683px #FFF , 1792px 1712px #FFF , 750px 88px #FFF , 611px 1870px #FFF , 1468px 644px #FFF , 1243px 1899px #FFF , 422px 946px #FFF , 164px 1177px #FFF , 152px 1448px #FFF , 367px 947px #FFF , 368px 332px #FFF , 802px 114px #FFF , 1990px 684px #FFF , 435px 1429px #FFF , 58px 156px #FFF , 1059px 1503px #FFF , 1174px 1288px #FFF , 1531px 1256px #FFF , 1159px 640px #FFF , 1075px 320px #FFF , 1031px 1110px #FFF , 1568px 1571px #FFF , 1589px 135px #FFF , 1907px 741px #FFF , 55px 1667px #FFF , 1181px 678px #FFF , 1902px 414px #FFF , 1398px 404px #FFF , 1233px 115px #FFF , 320px 1433px #FFF , 1401px 555px #FFF , 1973px 1845px #FFF , 1804px 490px #FFF , 52px 1445px #FFF , 450px 849px #FFF , 1276px 948px #FFF , 1507px 1871px #FFF , 1674px 1319px #FFF , 1391px 285px #FFF , 1717px 859px #FFF , 1818px 862px #FFF , 288px 264px #FFF , 120px 1340px #FFF , 574px 1578px #FFF , 363px 794px #FFF , 1171px 1721px #FFF , 1153px 1032px #FFF , 154px 1288px #FFF , 1893px 265px #FFF , 926px 326px #FFF , 1111px 97px #FFF , 246px 1699px #FFF , 147px 1793px #FFF , 767px 760px #FFF , 437px 193px #FFF , 1011px 996px #FFF , 1646px 677px #FFF , 1550px 1585px #FFF , 107px 1889px #FFF , 906px 1845px #FFF , 311px 435px #FFF , 233px 582px #FFF , 1406px 179px #FFF , 163px 237px #FFF , 1346px 1533px #FFF , 1995px 1181px #FFF , 195px 1303px #FFF , 752px 1480px #FFF , 1960px 406px #FFF , 1459px 313px #FFF , 34px 143px #FFF , 1663px 1158px #FFF , 1791px 124px #FFF , 570px 1110px #FFF , 1606px 552px #FFF , 1033px 772px #FFF , 716px 958px #FFF , 442px 246px #FFF , 17px 651px #FFF , 1683px 1871px #FFF , 1515px 1046px #FFF , 1165px 250px #FFF , 175px 1778px #FFF , 1186px 846px #FFF , 760px 466px #FFF , 1835px 1676px #FFF , 117px 1703px #FFF , 168px 960px #FFF , 141px 887px #FFF , 976px 1036px #FFF , 1166px 1372px #FFF , 812px 305px #FFF , 1264px 518px #FFF , 827px 1644px #FFF , 1830px 280px #FFF , 1467px 892px #FFF , 826px 1137px #FFF , 1271px 667px #FFF , 1529px 231px #FFF , 896px 413px #FFF , 1023px 1263px #FFF , 1727px 855px #FFF , 1598px 1554px #FFF , 1539px 1400px #FFF , 1087px 1670px #FFF , 177px 482px #FFF , 740px 1907px #FFF , 249px 436px #FFF , 1424px 1674px #FFF , 302px 1252px #FFF , 1895px 539px #FFF , 1793px 1295px #FFF , 1405px 912px #FFF , 152px 1166px #FFF , 1105px 83px #FFF , 1021px 1838px #FFF , 1431px 802px #FFF , 1313px 922px #FFF , 14px 1382px #FFF , 985px 504px #FFF , 634px 839px #FFF , 1385px 483px #FFF , 1334px 1316px #FFF , 575px 122px #FFF , 1347px 523px #FFF , 591px 1414px #FFF , 787px 1393px #FFF , 105px 1316px #FFF , 175px 1383px #FFF , 202px 365px #FFF , 298px 1175px #FFF , 277px 1856px #FFF , 1858px 752px #FFF , 598px 378px #FFF , 1438px 1484px #FFF , 1409px 1921px #FFF , 840px 1709px #FFF , 1887px 1206px #FFF , 1040px 702px #FFF , 1978px 1273px #FFF , 406px 1485px #FFF , 1602px 1167px #FFF , 1068px 1943px #FFF , 1889px 891px #FFF , 705px 1246px #FFF , 1227px 980px #FFF , 1165px 831px #FFF , 702px 987px #FFF , 1850px 1404px #FFF , 1906px 931px #FFF , 1405px 1332px #FFF , 640px 513px #FFF , 294px 1544px #FFF , 1231px 1835px #FFF , 1933px 1730px #FFF , 1123px 1685px #FFF , 732px 888px #FFF , 1204px 845px #FFF , 313px 553px #FFF , 696px 223px #FFF , 1168px 502px #FFF , 431px 1909px #FFF , 452px 577px #FFF , 295px 1334px #FFF , 239px 1836px #FFF , 1411px 1518px #FFF , 511px 1911px #FFF , 414px 84px #FFF , 517px 54px #FFF , 1531px 1172px #FFF , 586px 524px #FFF , 1980px 783px #FFF , 89px 1174px #FFF , 1555px 380px #FFF , 700px 1188px #FFF , 721px 761px #FFF , 1175px 1038px #FFF , 581px 448px #FFF , 1530px 765px #FFF , 1391px 1916px #FFF , 1366px 1834px #FFF , 105px 372px #FFF , 1163px 852px #FFF , 1931px 754px #FFF , 1245px 713px #FFF , 450px 1961px #FFF , 772px 1037px #FFF , 1042px 805px #FFF , 823px 1376px #FFF , 1138px 1633px #FFF , 260px 1421px #FFF , 1727px 1627px #FFF , 602px 1369px #FFF , 1057px 1899px #FFF , 89px 689px #FFF , 979px 186px #FFF , 1129px 1357px #FFF , 253px 172px #FFF , 1578px 1337px #FFF , 554px 544px #FFF , 1968px 1567px #FFF , 1020px 1788px #FFF , 930px 1985px #FFF , 1010px 1965px #FFF , 1521px 63px #FFF , 869px 1370px #FFF , 1190px 1680px #FFF , 311px 887px #FFF , 1932px 1629px #FFF , 1512px 136px #FFF , 1357px 682px #FFF , 140px 1415px #FFF , 64px 1052px #FFF , 257px 1816px #FFF , 105px 781px #FFF , 134px 1618px #FFF , 1779px 1172px #FFF , 1501px 1816px #FFF , 1812px 127px #FFF , 1469px 669px #FFF , 119px 95px #FFF , 816px 172px #FFF , 1469px 1009px #FFF , 1993px 57px #FFF , 682px 1275px #FFF , 1079px 1743px #FFF , 1912px 1469px #FFF , 1475px 1664px #FFF , 1094px 153px #FFF , 1610px 307px #FFF , 1682px 1379px #FFF , 1764px 445px #FFF , 1127px 1044px #FFF , 211px 259px #FFF , 1052px 1803px #FFF , 1545px 986px #FFF , 1289px 431px #FFF , 1279px 1962px #FFF , 106px 1765px #FFF , 239px 1699px #FFF , 854px 631px #FFF , 122px 321px #FFF , 935px 10px #FFF , 1541px 185px #FFF , 1414px 721px #FFF , 1696px 884px #FFF , 800px 666px #FFF , 1818px 1040px #FFF , 1139px 554px #FFF , 1876px 750px #FFF , 545px 482px #FFF , 1539px 1294px #FFF , 1557px 1849px #FFF , 1433px 374px #FFF , 170px 393px #FFF , 1165px 1528px #FFF , 1110px 46px #FFF , 1672px 1568px #FFF , 418px 575px #FFF , 454px 1287px #FFF , 1352px 1379px #FFF , 468px 229px #FFF , 463px 1706px #FFF , 240px 279px #FFF , 2px 115px #FFF , 929px 1461px #FFF , 1274px 1083px #FFF , 413px 1768px #FFF , 1084px 1553px #FFF , 74px 243px #FFF , 1219px 501px #FFF , 773px 587px #FFF , 1534px 1416px #FFF , 1386px 1591px #FFF , 1601px 887px #FFF , 1035px 1285px #FFF , 1914px 1154px #FFF , 1524px 731px #FFF , 1457px 1029px #FFF , 558px 597px #FFF , 676px 1473px #FFF , 653px 1923px #FFF , 596px 1011px #FFF , 7px 1507px #FFF , 1967px 1961px #FFF , 1250px 819px #FFF , 399px 711px #FFF , 1002px 1137px #FFF , 895px 1841px #FFF , 1485px 1215px #FFF , 1611px 1270px #FFF , 1440px 746px #FFF , 142px 1966px #FFF , 335px 114px #FFF , 1267px 881px #FFF , 911px 1191px #FFF , 1563px 1649px #FFF , 1916px 229px #FFF , 1824px 998px #FFF , 1377px 1385px #FFF , 584px 657px #FFF , 755px 549px #FFF , 1866px 1899px #FFF , 1700px 266px #FFF , 1913px 196px #FFF , 871px 136px #FFF , 800px 1890px #FFF , 1795px 1422px #FFF , 974px 117px #FFF , 171px 146px #FFF , 310px 1205px #FFF , 1575px 326px #FFF , 954px 992px #FFF , 437px 1260px #FFF , 1347px 651px #FFF , 63px 716px #FFF , 688px 505px #FFF , 1099px 1854px #FFF , 1863px 445px #FFF , 712px 24px #FFF , 1057px 50px #FFF , 1333px 880px #FFF , 503px 1192px #FFF , 113px 717px #FFF , 1170px 1322px #FFF , 1500px 1463px #FFF , 1666px 816px #FFF , 485px 789px #FFF , 1530px 514px #FFF , 538px 1898px #FFF , 1199px 1023px #FFF , 672px 533px #FFF , 1595px 808px #FFF , 1477px 1778px #FFF , 732px 1963px #FFF , 491px 849px #FFF , 115px 842px #FFF , 1299px 767px #FFF , 361px 1118px #FFF , 875px 1594px #FFF , 1116px 455px #FFF , 1397px 653px #FFF , 18px 1614px #FFF , 855px 238px #FFF , 1052px 301px #FFF , 1222px 1810px #FFF , 467px 92px #FFF , 661px 130px #FFF , 1443px 491px #FFF , 1736px 689px #FFF , 70px 396px #FFF , 1348px 106px #FFF , 1663px 1394px #FFF , 122px 1000px #FFF , 1277px 850px #FFF , 409px 1158px #FFF , 1178px 381px #FFF , 589px 1000px #FFF , 829px 1136px #FFF , 43px 1786px #FFF , 1639px 1912px #FFF , 1025px 1457px #FFF , 9px 1619px #FFF , 1244px 1443px #FFF , 492px 1701px #FFF , 924px 61px #FFF , 538px 1048px #FFF , 1036px 1968px #FFF , 1538px 1593px #FFF , 438px 1246px #FFF , 23px 1481px #FFF , 665px 1555px #FFF , 1593px 1258px #FFF , 342px 1876px #FFF , 279px 160px #FFF , 1630px 1904px #FFF , 1859px 1258px #FFF , 1905px 965px #FFF , 1821px 297px #FFF , 1551px 1673px #FFF , 775px 1829px #FFF , 1687px 1578px #FFF , 585px 270px #FFF , 1127px 677px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 795px 415px #FFF , 1554px 1030px #FFF , 1928px 282px #FFF , 50px 1227px #FFF , 298px 1788px #FFF , 1054px 876px #FFF , 1248px 240px #FFF , 1148px 1857px #FFF , 1736px 393px #FFF , 1937px 352px #FFF , 1316px 126px #FFF , 212px 360px #FFF , 1775px 161px #FFF , 382px 412px #FFF , 1011px 1073px #FFF , 1776px 88px #FFF , 1675px 1247px #FFF , 740px 408px #FFF , 1464px 960px #FFF , 1493px 1309px #FFF , 881px 271px #FFF , 441px 24px #FFF , 1056px 1529px #FFF , 1709px 528px #FFF , 1959px 53px #FFF , 1474px 394px #FFF , 480px 1782px #FFF , 1719px 333px #FFF , 968px 202px #FFF , 846px 1874px #FFF , 1233px 1781px #FFF , 1944px 502px #FFF , 208px 1757px #FFF , 525px 43px #FFF , 1580px 1505px #FFF , 408px 1849px #FFF , 1092px 1677px #FFF , 1711px 562px #FFF , 728px 1924px #FFF , 146px 1755px #FFF , 1508px 452px #FFF , 1984px 543px #FFF , 133px 833px #FFF , 1742px 895px #FFF , 1506px 649px #FFF , 1446px 1573px #FFF , 735px 894px #FFF , 919px 828px #FFF , 578px 1011px #FFF , 1488px 471px #FFF , 1764px 603px #FFF , 61px 565px #FFF , 1654px 342px #FFF , 133px 1433px #FFF , 1832px 471px #FFF , 56px 821px #FFF , 1900px 1796px #FFF , 1101px 448px #FFF , 1635px 764px #FFF , 1447px 260px #FFF , 1371px 196px #FFF , 1471px 1857px #FFF , 1472px 497px #FFF , 1165px 193px #FFF , 566px 1068px #FFF , 380px 19px #FFF , 1585px 139px #FFF , 1805px 1406px #FFF , 547px 1600px #FFF , 1264px 1847px #FFF , 1046px 918px #FFF , 1402px 1082px #FFF , 678px 1980px #FFF , 1143px 1336px #FFF , 1442px 1928px #FFF , 1907px 781px #FFF , 1841px 1426px #FFF , 1511px 1626px #FFF , 830px 1971px #FFF , 291px 1476px #FFF , 1264px 1537px #FFF , 1363px 45px #FFF , 223px 1607px #FFF , 97px 1082px #FFF , 115px 1411px #FFF , 1881px 1697px #FFF , 281px 1370px #FFF , 811px 1002px #FFF , 796px 882px #FFF , 629px 37px #FFF , 566px 657px #FFF , 382px 1521px #FFF , 233px 601px #FFF , 477px 1315px #FFF , 1651px 177px #FFF , 1047px 309px #FFF , 439px 836px #FFF , 1826px 782px #FFF , 393px 1919px #FFF , 723px 504px #FFF , 1720px 783px #FFF , 1791px 1617px #FFF , 445px 193px #FFF , 1577px 127px #FFF , 1521px 102px #FFF , 1060px 790px #FFF , 1203px 1821px #FFF , 1219px 1640px #FFF , 1727px 568px #FFF , 864px 752px #FFF , 1115px 818px #FFF , 1196px 1498px #FFF , 624px 551px #FFF , 687px 1782px #FFF , 498px 1052px #FFF , 1179px 1023px #FFF , 398px 1793px #FFF , 1183px 926px #FFF , 29px 1547px #FFF , 48px 1357px #FFF , 1589px 1764px #FFF , 1340px 31px #FFF , 657px 540px #FFF , 944px 1686px #FFF , 1261px 1388px #FFF , 346px 1176px #FFF , 686px 980px #FFF , 644px 1862px #FFF , 1487px 1497px #FFF , 539px 157px #FFF , 1985px 386px #FFF , 90px 1560px #FFF , 651px 1661px #FFF , 555px 1568px #FFF , 1058px 927px #FFF , 595px 1455px #FFF , 250px 1801px #FFF , 790px 1434px #FFF , 514px 380px #FFF , 171px 939px #FFF , 64px 121px #FFF , 1040px 735px #FFF , 971px 223px #FFF , 786px 349px #FFF , 1498px 34px #FFF , 821px 604px #FFF , 161px 731px #FFF , 1282px 733px #FFF , 1205px 21px #FFF , 1570px 933px #FFF , 1088px 338px #FFF , 300px 1753px #FFF , 1px 673px #FFF , 956px 1334px #FFF , 1466px 189px #FFF , 1502px 1999px #FFF , 783px 1299px #FFF , 1666px 973px #FFF , 436px 1268px #FFF , 615px 391px #FFF , 959px 357px #FFF , 1988px 1589px #FFF , 190px 1668px #FFF , 1592px 15px #FFF , 1555px 1841px #FFF , 308px 635px #FFF , 1167px 1992px #FFF , 1557px 1808px #FFF , 1239px 583px #FFF , 1693px 1756px #FFF , 958px 1326px #FFF , 1562px 1208px #FFF , 889px 1172px #FFF , 1750px 760px #FFF , 1312px 1004px #FFF , 593px 1331px #FFF , 881px 1695px #FFF , 1904px 12px #FFF , 905px 1510px #FFF , 1986px 1460px #FFF , 1774px 993px #FFF , 692px 49px #FFF , 477px 1413px #FFF , 39px 284px #FFF , 811px 608px #FFF , 1620px 809px #FFF , 1506px 1333px #FFF , 986px 294px #FFF , 1646px 628px #FFF , 703px 690px #FFF , 1048px 1459px #FFF , 1239px 1329px #FFF , 719px 1458px #FFF , 472px 1422px #FFF , 54px 75px #FFF , 718px 362px #FFF , 1178px 835px #FFF , 1867px 1160px #FFF , 1162px 242px #FFF , 1363px 1133px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 795px 415px #FFF , 1554px 1030px #FFF , 1928px 282px #FFF , 50px 1227px #FFF , 298px 1788px #FFF , 1054px 876px #FFF , 1248px 240px #FFF , 1148px 1857px #FFF , 1736px 393px #FFF , 1937px 352px #FFF , 1316px 126px #FFF , 212px 360px #FFF , 1775px 161px #FFF , 382px 412px #FFF , 1011px 1073px #FFF , 1776px 88px #FFF , 1675px 1247px #FFF , 740px 408px #FFF , 1464px 960px #FFF , 1493px 1309px #FFF , 881px 271px #FFF , 441px 24px #FFF , 1056px 1529px #FFF , 1709px 528px #FFF , 1959px 53px #FFF , 1474px 394px #FFF , 480px 1782px #FFF , 1719px 333px #FFF , 968px 202px #FFF , 846px 1874px #FFF , 1233px 1781px #FFF , 1944px 502px #FFF , 208px 1757px #FFF , 525px 43px #FFF , 1580px 1505px #FFF , 408px 1849px #FFF , 1092px 1677px #FFF , 1711px 562px #FFF , 728px 1924px #FFF , 146px 1755px #FFF , 1508px 452px #FFF , 1984px 543px #FFF , 133px 833px #FFF , 1742px 895px #FFF , 1506px 649px #FFF , 1446px 1573px #FFF , 735px 894px #FFF , 919px 828px #FFF , 578px 1011px #FFF , 1488px 471px #FFF , 1764px 603px #FFF , 61px 565px #FFF , 1654px 342px #FFF , 133px 1433px #FFF , 1832px 471px #FFF , 56px 821px #FFF , 1900px 1796px #FFF , 1101px 448px #FFF , 1635px 764px #FFF , 1447px 260px #FFF , 1371px 196px #FFF , 1471px 1857px #FFF , 1472px 497px #FFF , 1165px 193px #FFF , 566px 1068px #FFF , 380px 19px #FFF , 1585px 139px #FFF , 1805px 1406px #FFF , 547px 1600px #FFF , 1264px 1847px #FFF , 1046px 918px #FFF , 1402px 1082px #FFF , 678px 1980px #FFF , 1143px 1336px #FFF , 1442px 1928px #FFF , 1907px 781px #FFF , 1841px 1426px #FFF , 1511px 1626px #FFF , 830px 1971px #FFF , 291px 1476px #FFF , 1264px 1537px #FFF , 1363px 45px #FFF , 223px 1607px #FFF , 97px 1082px #FFF , 115px 1411px #FFF , 1881px 1697px #FFF , 281px 1370px #FFF , 811px 1002px #FFF , 796px 882px #FFF , 629px 37px #FFF , 566px 657px #FFF , 382px 1521px #FFF , 233px 601px #FFF , 477px 1315px #FFF , 1651px 177px #FFF , 1047px 309px #FFF , 439px 836px #FFF , 1826px 782px #FFF , 393px 1919px #FFF , 723px 504px #FFF , 1720px 783px #FFF , 1791px 1617px #FFF , 445px 193px #FFF , 1577px 127px #FFF , 1521px 102px #FFF , 1060px 790px #FFF , 1203px 1821px #FFF , 1219px 1640px #FFF , 1727px 568px #FFF , 864px 752px #FFF , 1115px 818px #FFF , 1196px 1498px #FFF , 624px 551px #FFF , 687px 1782px #FFF , 498px 1052px #FFF , 1179px 1023px #FFF , 398px 1793px #FFF , 1183px 926px #FFF , 29px 1547px #FFF , 48px 1357px #FFF , 1589px 1764px #FFF , 1340px 31px #FFF , 657px 540px #FFF , 944px 1686px #FFF , 1261px 1388px #FFF , 346px 1176px #FFF , 686px 980px #FFF , 644px 1862px #FFF , 1487px 1497px #FFF , 539px 157px #FFF , 1985px 386px #FFF , 90px 1560px #FFF , 651px 1661px #FFF , 555px 1568px #FFF , 1058px 927px #FFF , 595px 1455px #FFF , 250px 1801px #FFF , 790px 1434px #FFF , 514px 380px #FFF , 171px 939px #FFF , 64px 121px #FFF , 1040px 735px #FFF , 971px 223px #FFF , 786px 349px #FFF , 1498px 34px #FFF , 821px 604px #FFF , 161px 731px #FFF , 1282px 733px #FFF , 1205px 21px #FFF , 1570px 933px #FFF , 1088px 338px #FFF , 300px 1753px #FFF , 1px 673px #FFF , 956px 1334px #FFF , 1466px 189px #FFF , 1502px 1999px #FFF , 783px 1299px #FFF , 1666px 973px #FFF , 436px 1268px #FFF , 615px 391px #FFF , 959px 357px #FFF , 1988px 1589px #FFF , 190px 1668px #FFF , 1592px 15px #FFF , 1555px 1841px #FFF , 308px 635px #FFF , 1167px 1992px #FFF , 1557px 1808px #FFF , 1239px 583px #FFF , 1693px 1756px #FFF , 958px 1326px #FFF , 1562px 1208px #FFF , 889px 1172px #FFF , 1750px 760px #FFF , 1312px 1004px #FFF , 593px 1331px #FFF , 881px 1695px #FFF , 1904px 12px #FFF , 905px 1510px #FFF , 1986px 1460px #FFF , 1774px 993px #FFF , 692px 49px #FFF , 477px 1413px #FFF , 39px 284px #FFF , 811px 608px #FFF , 1620px 809px #FFF , 1506px 1333px #FFF , 986px 294px #FFF , 1646px 628px #FFF , 703px 690px #FFF , 1048px 1459px #FFF , 1239px 1329px #FFF , 719px 1458px #FFF , 472px 1422px #FFF , 54px 75px #FFF , 718px 362px #FFF , 1178px 835px #FFF , 1867px 1160px #FFF , 1162px 242px #FFF , 1363px 1133px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 980px 667px #FFF , 1788px 1884px #FFF , 1539px 528px #FFF , 446px 953px #FFF , 752px 1719px #FFF , 1231px 48px #FFF , 1708px 725px #FFF , 109px 35px #FFF , 1734px 1332px #FFF , 55px 274px #FFF , 125px 652px #FFF , 1968px 5px #FFF , 1687px 681px #FFF , 1287px 1180px #FFF , 1613px 477px #FFF , 790px 1851px #FFF , 1644px 1911px #FFF , 666px 1411px #FFF , 420px 1285px #FFF , 210px 1329px #FFF , 1820px 246px #FFF , 61px 1309px #FFF , 1035px 276px #FFF , 1962px 356px #FFF , 1635px 46px #FFF , 1279px 1306px #FFF , 1569px 1370px #FFF , 532px 1142px #FFF , 1963px 1516px #FFF , 881px 444px #FFF , 1237px 1657px #FFF , 1423px 928px #FFF , 1574px 429px #FFF , 1330px 570px #FFF , 615px 1093px #FFF , 1424px 652px #FFF , 1485px 248px #FFF , 40px 876px #FFF , 480px 273px #FFF , 453px 41px #FFF , 1721px 1027px #FFF , 459px 873px #FFF , 1079px 149px #FFF , 1703px 1949px #FFF , 1119px 1995px #FFF , 881px 1008px #FFF , 911px 1962px #FFF , 1004px 1229px #FFF , 383px 715px #FFF , 69px 1852px #FFF , 1386px 1278px #FFF , 54px 679px #FFF , 393px 800px #FFF , 425px 95px #FFF , 1289px 1729px #FFF , 1852px 961px #FFF , 696px 1383px #FFF , 1640px 1656px #FFF , 1733px 783px #FFF , 836px 677px #FFF , 403px 1683px #FFF , 1437px 1625px #FFF , 1023px 1733px #FFF , 1642px 1233px #FFF , 1420px 1087px #FFF , 131px 1469px #FFF , 863px 472px #FFF , 1696px 1522px #FFF , 1295px 1315px #FFF , 198px 1979px #FFF , 1926px 1655px #FFF , 1360px 1311px #FFF , 426px 1702px #FFF , 1961px 1550px #FFF , 607px 829px #FFF , 1870px 1501px #FFF , 1913px 815px #FFF , 1975px 252px #FFF , 908px 1279px #FFF , 1417px 218px #FFF , 797px 233px #FFF , 546px 1376px #FFF , 213px 215px #FFF , 1191px 756px #FFF , 1830px 754px #FFF , 877px 948px #FFF , 167px 1881px #FFF , 163px 403px #FFF , 384px 1946px #FFF , 1070px 158px #FFF , 356px 245px #FFF , 451px 1180px #FFF , 1137px 628px #FFF , 85px 1011px #FFF , 520px 153px #FFF , 1044px 1460px #FFF , 911px 17px #FFF , 1577px 520px #FFF , 38px 329px #FFF , 1870px 1206px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 980px 667px #FFF , 1788px 1884px #FFF , 1539px 528px #FFF , 446px 953px #FFF , 752px 1719px #FFF , 1231px 48px #FFF , 1708px 725px #FFF , 109px 35px #FFF , 1734px 1332px #FFF , 55px 274px #FFF , 125px 652px #FFF , 1968px 5px #FFF , 1687px 681px #FFF , 1287px 1180px #FFF , 1613px 477px #FFF , 790px 1851px #FFF , 1644px 1911px #FFF , 666px 1411px #FFF , 420px 1285px #FFF , 210px 1329px #FFF , 1820px 246px #FFF , 61px 1309px #FFF , 1035px 276px #FFF , 1962px 356px #FFF , 1635px 46px #FFF , 1279px 1306px #FFF , 1569px 1370px #FFF , 532px 1142px #FFF , 1963px 1516px #FFF , 881px 444px #FFF , 1237px 1657px #FFF , 1423px 928px #FFF , 1574px 429px #FFF , 1330px 570px #FFF , 615px 1093px #FFF , 1424px 652px #FFF , 1485px 248px #FFF , 40px 876px #FFF , 480px 273px #FFF , 453px 41px #FFF , 1721px 1027px #FFF , 459px 873px #FFF , 1079px 149px #FFF , 1703px 1949px #FFF , 1119px 1995px #FFF , 881px 1008px #FFF , 911px 1962px #FFF , 1004px 1229px #FFF , 383px 715px #FFF , 69px 1852px #FFF , 1386px 1278px #FFF , 54px 679px #FFF , 393px 800px #FFF , 425px 95px #FFF , 1289px 1729px #FFF , 1852px 961px #FFF , 696px 1383px #FFF , 1640px 1656px #FFF , 1733px 783px #FFF , 836px 677px #FFF , 403px 1683px #FFF , 1437px 1625px #FFF , 1023px 1733px #FFF , 1642px 1233px #FFF , 1420px 1087px #FFF , 131px 1469px #FFF , 863px 472px #FFF , 1696px 1522px #FFF , 1295px 1315px #FFF , 198px 1979px #FFF , 1926px 1655px #FFF , 1360px 1311px #FFF , 426px 1702px #FFF , 1961px 1550px #FFF , 607px 829px #FFF , 1870px 1501px #FFF , 1913px 815px #FFF , 1975px 252px #FFF , 908px 1279px #FFF , 1417px 218px #FFF , 797px 233px #FFF , 546px 1376px #FFF , 213px 215px #FFF , 1191px 756px #FFF , 1830px 754px #FFF , 877px 948px #FFF , 167px 1881px #FFF , 163px 403px #FFF , 384px 1946px #FFF , 1070px 158px #FFF , 356px 245px #FFF , 451px 1180px #FFF , 1137px 628px #FFF , 85px 1011px #FFF , 520px 153px #FFF , 1044px 1460px #FFF , 911px 17px #FFF , 1577px 520px #FFF , 38px 329px #FFF , 1870px 1206px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}



@media screen and (max-width:850px) {
  .brand {
    width:90%;
  }
  #container {
    width:90%;
  }
  #restart_btn1, #submit_score {
    font-size: 17px;
  }
}
@media screen and (max-width:700px) {
  .brand .wrapper .p1 {
    font-size: 25px;
  }
  .brand .wrapper .p2 {
    font-size: 8px;
  }
  #container #gameover {
    width:80%;
  }
  #container #backdrop #play {
    width:90%;
  }
  #container #backdrop #information {
    width:90%;
    text-align: center;
  }
  
}
@media screen and (max-width:566px) {
  .brand .wrapper .p2 {
    font-size: 7px;
  }
  .grand .rightside #score_div {
    font-size: 10px;
    align-self: flex-end;
  }

  #container #backdrop #play {
    font-size: 18px;
  }

}
@media screen and (max-width:540px) {
  .brand {
    display: none;
  }
  #container {
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100);
    width:100%;
  }
  #scorePopUp .wrapper {
    flex-direction: column;
  }
  #scorePopUp form .wrapper label {
    width:100%;
    margin-right:0;
    margin-bottom:5px;
    height: 30px;
    line-height: 30px;
  }
  #scorePopUp form small {
    font-size: 8px;
  }
  #scorePopUp form .wrapper label + input {
    width:100%;
    flex:initial;
    font-size: 16px;
  }
  .pole {
    height: calc((var(--vh, 1vh) * 100) / 2 - var(--hole));
  }
}

@media screen and (max-width:480px) {
  #restart_btn1, #submit_score {
    font-size: 13px;
  }
  .grand .rightside #score_div {
    font-size: 9px;
  }
}
@media screen and (max-width:400px) {
  .grand .rightside #score_div {
    font-size: 8px;
  }
  #container #backdrop #information h2 {
    font-size: 10px;
  }
}

@media screen and (max-height:400px) {
  .brand {
    display: none;
  }
  #container {
    height: calc(var(--vh, 1vh) * 100);
  }
  .pole {
    height: calc((var(--vh, 1vh) * 100) / 2 - var(--hole));
  }
}