@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Press Start 2P', Stencil Std, sans-serif, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
:root {
  --hole:80px;
}
body {
  background-color: lightGray;
  max-height:100vh; 
}
.brand {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #0b52ff;
  border: 2px solid rgb(255, 255, 255);
  width: 70%;
  height:80px;
  margin:15px auto 20px auto;
  padding:5px 15px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.brand img.logo {
  height:105px;
  margin-right:15px;
  filter: drop-shadow(0 0 0.15rem black);
  user-select:none;
}
.brand .wrapper .p1, .brand .wrapper .p2 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px #000000;
  user-select:none;
  
}
.brand .wrapper .p1 {
  font-size: 30px;
  text-align:center;
  margin-bottom:5px;
}
.brand .wrapper .p2 {
  font-size: 10px;
}
.brand .wrapper .p2 span {
  font-size: 16px;
}

#container.crash {
  border-color:rgba(255, 0, 0, 0.5);
  animation: blink 0.5s;
  animation-iteration-count: 6;
}
#pole_1.poleCrash, #pole_2.poleCrash {
  background-color:rgba(255, 0, 0, 0.5);
  animation: poleblink 0.5s;
  animation-iteration-count: 6;
}
@keyframes blink { 50% { border-color:rgba(255, 0, 0, 0.9) ; }  }
@keyframes poleblink { 50% { background-color:rgba(255, 0, 0, 0.9) ; }  }

#container {
  position: relative;
  height: calc(100vh - 125px);
  width: 70%;
  border: 4px solid #0b52ff;
  background-color: rgb(55, 55, 56); 
  margin-left: auto;
  margin-right:auto;
  overflow: hidden;
}
#container #play {
  position: absolute;
  left:50%;
  bottom:2%;
  transform: translateX(-50%);
  padding:10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 20001;
  font-size: 16px;
  color:#0b52ff;
  outline:0;
  border:0;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
  user-select: none;
  background-color: lightgrey;
  width:50%;
  height:60px;
  transition:transform 0.3s ease;
  text-shadow: 2px 1px #000000;
}

#container #play:hover {
  background-color: #fff;
}
#container #intro {
  position: absolute;
  top:70%;
  left:50%;
  transform: translate(-50%, -70%);
  z-index: 20001;
  filter: drop-shadow(0 0 0.15rem black);
  width: 100%;
  text-align: center;
}
#container #intro h2 {
  color:#fff;
  text-shadow: 2px 1px #000000;
  margin-top:10px;
  margin-bottom:10px;
}
#container #information {
  position: absolute;
  top:2%;
  left:50%;
  transform: translateX(-50%);
  z-index: 20001;
  background-color: lightgrey;
  color:rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 7px;
  width:70%;
  padding:10px;
  line-height: 1.25;
  text-align: justify;
  margin-bottom:10px;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
}
#container #information ul {
  margin-top:15px;
}
#container #information ul li {
  margin-left:20px;
  text-align:left;
}
#container #information ul li span{
  margin-left:10px;
  font-size: 8px;
}
#container #information ul li .emoji{
  margin-left:10px;
  font-size: 13px;
}

#container #backdrop {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:calc(100vh - 125px);
  background-color: rgb(11, 80, 255);
  z-index: 20000;
}
#container #gameover  {
  width:50%;
  height:90px;
  background-color: rgba(255, 0, 0, 0.5);
  animation: gameover 1s;
  animation-iteration-count: 3;
  color:white;
  border-radius: 10px;
  padding:5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  display:none;
  z-index:10000;
}
@keyframes gameover { 50% { background-color:rgba(255, 0, 0, 0.9) ; }  }

#container #gameover h2 {
  text-align:center;
  margin-bottom:5px;
}
#container #gameover p {
  text-align:center; 
}
#container #gameover p .score1{
  margin-top:5px;
  display:inline-block;
}
#bird {
  position: absolute;
  background: url('img/ilc.svg');
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 10%;
  left: 10%;
  bottom:90%;
  z-index: 9997;
}
.grand {
  background-color: #a9b7c5;
  width:100%;
  height:100px;
  position: absolute;
  bottom:0;
  left:0;
  z-index:9997;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-left:10px;
  padding-right:10px;
}
.grand #flap {
  cursor:pointer;
  width:60px;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color:rgb(255, 255, 255);
  font-size:20px;
  outline:0;
  border:0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius:50%;
  transition:transform 0.3s ease;
  display:none;
}
.grand #flap:active {
  transform:scale(0.88);
}
.grand #flap:hover {
  background-color: rgba(11, 80, 255, 0.507);
}
.grand .rightside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex:1;
  margin-left:10px;
  margin-right:10px;
}
.grand .rightside #sound {
  cursor:pointer;
  width:30px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  color:#0b52ff;
  font-size:18px;
  outline:0;
  border:0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius:50%;
  transition:transform 0.3s ease;
}
.grand .rightside #sound:active {
  transform:scale(0.88);
}
.grand .rightside #sound:hover {
  background-color: #fff;
}
.grand .rightside #score_div {
  align-self:flex-start;
  justify-self: flex-end;
  font-size: 12px;
}
.grand .rightside #score_div p:not(:nth-of-type(2)) {
  margin-bottom:10px;
}

.pole {
  position: absolute;
  height: calc((var(--vh, 1vh) * 100) / 2 - var(--hole)*2);
  width: 50px;
  background-color: #0b52ff;
  right: -50px;
  z-index: 9996;
}
#pole_1 {
  top: 0;
}
#pole_2 {
  bottom: 0;
}
#restart_btn {
  position: absolute;
  top: 0;
  width: 100%;
  height:100%;
  background-color: #0b52ff;
  color: white;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
#restart_btn img {
  margin-bottom:10px;
  filter: drop-shadow(0 0 0.15rem black);
  user-select:none;
}
#restart_btn h2 {
  margin-bottom:40px;
  text-shadow: 2px 1px #000000;
  user-select:none;
  filter: drop-shadow(0 0 0.15rem black);
  text-align: center;
  line-height:1.5;
}
#restart_btn1, #submit_score {
  font-size: 22px;
  font-weight: 800;
  padding:15px 20px;
  cursor: pointer;
  border-radius: 7px;
  outline:0;
  border:0;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
  background-color: lightgrey;
  color:#0b52ff;
  transition:transform 0.3s ease;
}
#restart_btn1 {
  margin-bottom:22px;
}
#restart_btn1 + p {
  font-size: 14px;
  color:#34ff0b;
}
#submit_score {
  margin-top:22px;
}
#restart_btn1:active, #submit_score:active {
  transform:scale(0.88);
}
#restart_btn1:hover, #submit_score:hover {
  background-color: #fff;
}





@media screen and (max-width:850px) {
  .brand {
    width:90%;
  }
  #container {
    width:90%;
  }
  #restart_btn1, #submit_score {
    font-size: 17px;
  }
}
@media screen and (max-width:700px) {
  .brand .wrapper .p1 {
    font-size: 25px;
  }
  .brand .wrapper .p2 {
    font-size: 8px;
  }
  #container #gameover {
    width:80%;
  }
  #container #play {
    width:80%;
  }
}
@media screen and (max-width:566px) {
  .brand .wrapper .p2 {
    font-size: 7px;
  }
  .grand .rightside #score_div {
    font-size: 10px;
    align-self: flex-end;
  }
  .grand #flap {
    display: block;
  }
  #container #play {
    font-size: 18px;
  }
  #container #information {
    width:90%;
    text-align: center;
  }
  #container #information h3 {
    font-size: 10px;
  }
}
@media screen and (max-width:540px) {
  .brand {
    display: none;
  }
  #container, #container #backdrop {
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100);
    width:100%;
  }
  .pole {
    /* height:calc(50vh - 100px); */
    height: calc((var(--vh, 1vh) * 100) / 2 - var(--hole));
  }
}

@media screen and (max-width:480px) {
  #restart_btn1, #submit_score {
    font-size: 13px;
  }
  .grand .rightside #score_div {
    font-size: 9px;
  }
}
@media screen and (max-width:400px) {
  .grand .rightside #score_div {
    font-size: 8px;
  }
  #container #play {
    font-size: 12px;
  }
}

@media screen and (max-height:400px) {
  .brand {
    display: none;
  }
  #container {
    height: calc(var(--vh, 1vh) * 100);
  }
  .pole {
    height: calc((var(--vh, 1vh) * 100) / 2 - var(--hole));
  }
}